.main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 100vh;
  padding-top: 19px;
  gap: 2rem;
}
.dividerLine{
width: 10%;
max-width: 500px;
height: 3px;
background-color: white;
}

.logo {
  max-width: 90%; 
  width: 500px;  
  height: auto;  
}
.footerContainer {
  margin-top: auto;     


  display: flex;       
  align-items: center;   
  gap: 0.5rem;    


  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
}


.footerLink {
  color: #fff; 
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footerLink:hover {
  color: #f97316;
}


.footerIcon {
 
  opacity: 0.7;
  transition: opacity 0.2s ease;
}


.footerContainer:hover .footerIcon {
  opacity: 1;
}