
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #1a1a1a;
  padding: 40px;
  border-radius: 20px;
  color: white;
  position: relative;
  width: 800px;
  max-width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border: 4px solid #f97316;
}

.modalContent h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #f97316;
  text-transform: uppercase;
  text-align: center;
}

.modalContent p {
  line-height: 1.5;
  margin-bottom: 15px;
  font-size: 1.6rem;
  text-align: justify;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 25px;
  background: none;
  border: none;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  line-height: 1;
  transition: color 0.2s ease;
}

.closeButton:hover {
  color: #f97316;
}