.card {

  display: flex;
  align-items: center;
  gap: 0rem;


  text-decoration: none;
  color: #ffffff;

  width: 100%;
  max-width: 500px;
  margin-right: 3rem;
}

.icon {

  width: 280px;
  height: auto;
}

.textContainer {

  display: flex;
  flex-direction: column;
  flex: 1;

  margin-left: -50px;
}

.title {
  font-size: 7.0rem;
  font-weight: 700;
  margin: 0;
  line-height: 0.8;

  background-image: linear-gradient(to right,
      #fff,
      #f97316 40%,
      #f97316 60%,
      #fff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animateGradient 2s linear infinite;
  animation-play-state: running;

  color: #fff;


  transition: color 0.5s ease-out;
}

.orangeLine {
  width: 150px;
  height: 4px;
  background-color: #f97316;
  margin-top: 4px;
  margin-bottom: 4px;
}

.subtitle {
  font-size: 2.8rem;
  margin: 0;
  letter-spacing: 1px;

  background-image: linear-gradient(to right,
      #fff,
      #f97316 40%,
      #f97316 60%,
      #fff);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animateGradient 2s linear infinite;
  animation-play-state: running;

  color: #fff;

  transition: color 0.5s ease-out;
}

.card:hover .title,
.card:hover .subtitle {
  color: transparent;

  transition: color 0.1s ease-in;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  position: relative;
}

.disabled .icon,
.disabled .textContainer {
  filter: grayscale(100%);
  opacity: 0.4;
  /* Deixa o fundo bem apagado para o texto laranja brilhar */
}

/* Texto flutuante */
.developmentOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);

  background-color: rgba(0, 0, 0, 0.85);
  border: 3px solid #525252;
  color: #f97316;

  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 10;
  letter-spacing: 2px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}